{% extends "layout.html" %}
{% block content %}
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_user.css') }}">
  </head>
<body>  
<div class="container">
 
  <div class="alert alert-success" role="alert">
      Login!
  </div>
  <ul class="list-group"></ul>
  <div class="card">
      <div class="card-body">
          <h5 class="card-title">Add User</h5>
          <form method="POST">
              {{ form.hidden_tag() }}
              <div class="mb-3">
                  {{ form.username.label(class="form-label") }}
                  {{ form.username(class="form-control") }}
              </div>
              <div class="mb-3">
                  {{ form.password.label(class="form-label") }}
                  {{ form.password(class="form-control") }}
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
  </div>
</div>
</body>
{% endblock %}
